<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3"
	data-provider-thread-count="6">
	<test name="test1">
		<classes>
			<class name="TestNGDemo.ChromeGridTest" />
		</classes>
	</test>


	<test name="test2">
		<classes>
			<class name="TestNGDemo.ChromeGridTest" />
		</classes>
	</test>
</suite> 









